:root {
  --primary-color: #0d52d3;
  --background-color: #1e1e1e;
  --text-color: #ffffff;
}

/* Fondo oscuro global */
html, body {
  height: 100%;  /* Asegura que cubra toda la pantalla */
  margin: 0;     /* Elimina el margen por defecto */
  padding: 0;    /* Elimina el padding por defecto */
}

body {
  background-color: #1e1e1e; /* Fondo oscuro */
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, p {
  color: #fff; /* Aseguramos que los títulos y párrafos también sean blancos */
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: transparent;
  color: var(--text-color);
  padding: 1rem 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-button {
  background: none;
  color: var(--text-color);
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.language-button:hover {
  background-color: var(--primary-color);
  border: none;
}

.active-language {
  background-color: #007BFF;
  color: white;
  border-color: #007BFF;
}


main {
  padding: 2rem 0;
}

/* Estilo de las tarjetas */
.card {
  background-color: #1c1c1c; /* Fondo oscuro */
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px); /* Efecto hover */
}

/* Aseguramos que el enlace cubra toda la tarjeta */
.card a {
  text-decoration: none;
  color: #fff;
}

.card a:hover {
  color: #fff;
}

/* Diseño del grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas por fila */
  gap: 1.5rem;
  margin-top: 1rem;
  justify-items: center; /* Centra los elementos dentro de cada celda del grid */
}

/* Estilo para los títulos y descripciones dentro de la tarjeta */
.card h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  line-height: 1.4;
}

footer {
  text-align: right;
  padding: 1rem 0;
  color: white;
  margin-top: 2rem;
}


@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }

  .language-selector {
    margin-top: 0.5rem;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .col {
    flex: 1 1 100%;
    text-align: center;
  }

  /* Ajustes de redes sociales en pantallas pequeñas */
  #social-links {
    justify-content: center;
    gap: 15px;
  }

  /* Ajustar tamaño de la imagen si es necesario */
  .col img {
    width: 200px;
    height: 200px;
  }

  /* Ajustar el tamaño del texto */
  #name {
    font-size: 35px;
  }

  #title {
    font-size: 25px;
  }
}


#social-links {
  display: flex;                /* Usamos Flexbox para centrar los íconos */
  justify-content: center;      /* Centra los íconos horizontalmente */
  align-items: center;          /* Alinea los íconos verticalmente */
  margin-top: 20px;             /* Espaciado superior */
  gap: 20px;
}

.social-icon {
  font-size: 15px;
  color: white;
  margin: 0 10px;
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: scale(1.2);
}


.floating-nav {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 50px;
  background: rgba(3, 7, 17, 0.445);
  padding: 10px 40px;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.555);
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.nav-item {
  position: relative;
  display: flex;
  justify-content: center;
}

.nav-item a {
  color: var(--primary-color);
  font-size: 24px;
  transition: color 0.3s, transform 0.3s;
}

.nav-item a:hover {
  color: white;
  transform: scale(1.2);
}

/* Círculo sobre el ícono con hover */
.nav-item a:hover::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(5, 36, 70, 0.2);
  z-index: -1; /* Asegura que el círculo esté detrás del ícono */
  transform: translate(-50%, -50%);
}

/* Tooltip */
.tooltip {
  position: absolute;
  left: 50%;
  bottom: 140%;
  transform: translateX(-50%);
  background-color: var(--primary-color, #3498db);
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 18px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, bottom 0.3s ease;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1.8px;
}

.nav-item:hover .tooltip {
  opacity: 1;
  bottom: 150%;
}

