:root {
  --primary-color: #007acc;
  --background-color: #f5f5f5;
  --card-background: #1c1c1c;
  --text-color: #333333;
}

/* Fondo oscuro global */
html, body {
  height: 100%;  /* Asegura que cubra toda la pantalla */
  margin: 0;     /* Elimina el margen por defecto */
  padding: 0;    /* Elimina el padding por defecto */
}

body {
  background-color: #1e1e1e; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  font-family: 'Arial', sans-serif;
}

h1, h2, h3, p {
  color: #fff; /* Aseguramos que los títulos y párrafos también sean blancos */
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-button {
  background: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.language-button:hover {
  background-color: #eee;
}

.active-language {
  background-color: #007BFF;
  color: white;
  border-color: #007BFF;
}


main {
  padding: 2rem 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.card {
  background-color: var(--card-background, #1c1c1c); /* Fallback a #1c1c1c si no se puede usar la variable */
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  color: #fff;  /* Aseguramos que el texto dentro de las cards también sea blanco */
}

.card:hover {
  transform: translateY(-5px);
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: var(--primary-color);
  color: white;
  margin-top: 2rem;
}


@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }

  .language-selector {
    margin-top: 0.5rem;
  }
}


#social-links {
  margin-top: 15px;
}

.social-icon {
  width: 32px;
  height: 32px;
  margin: 0 10px;
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: scale(1.2);
}
